
header {
    text-align: left;
    background-color: green;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.logo {
    max-width: 130px; /* Ensure the logo does not exceed its container */
    height: auto; /* Maintain the aspect ratio */
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ensure the body takes up the full height of the viewport */
}

main {
    flex: 1; /* Allow the main content to fill the remaining space */
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center;  /* Align the content to the right */
}

.container {
    width: 50%; /* Adjust as needed */
}

.arrow {
    position: absolute;
    top: 50%;
    width: 30px; /* Adjust arrow width */
    height: 30px; /* Adjust arrow height */
    background-color: rgba(0, 0, 0, 0.5); /* Arrow background color */
    cursor: pointer;
    z-index: 2; /* Ensure arrows appear above images */
}

.left-arrow {
    left: 10px; /* Adjust left arrow position */
    border-top-left-radius: 5px; /* Adjust arrow shape */
    border-bottom-left-radius: 5px; /* Adjust arrow shape */
}

.right-arrow {
    right: 10px; /* Adjust right arrow position */
    border-top-right-radius: 5px; /* Adjust arrow shape */
    border-bottom-right-radius: 5px; /* Adjust arrow shape */
}

.arrow:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
}

.left-arrow:before {
    transform: translate(-50%, -50%) rotate(-235deg); /* Rotate left arrow */
}

.right-arrow:before {
    transform: translate(-50%, -50%) rotate(-45deg); /* Rotate right arrow */
}


.slider {
    width: 100%;
    height: 510px;
    position: relative;
    overflow: hidden;
}

.slider img {
    max-width: 100%;
    max-height: auto; /* Adjusted to fit within the container */
    position: absolute;
    top: 0;
    left: 0;
}

.slider img:first-child {
    z-index: 1;
}

.slider img:nth-child(2) {
    z-index: 0;
}

.navigation-button {
    position: absolute;
    bottom: 90px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; 
}

.dot {
    cursor: pointer;
    height: 10px; /* Adjust the size of the dots */
    width: 10px; /* Adjust the size of the dots */
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.active,
.dot:hover {
    background-color: #717171;
}

.location-card {
    margin-top: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.location-image {
    width: 150px;
    height: auto;
}

.location-info {
    padding: 10px;
}

.address,
.phone {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.icon {
    width: 30px;
    height: auto;
    margin-right: 5px;
}

footer {
    text-align: center;
    background-color: green;
    color: white;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-top: auto; /* Push the footer to the bottom */
}

